<header style="padding-bottom: 10px;">
	<nav id="menu" class="nav">
		<ul>
			<li>
				<a href="#">
					<span class="icon">
						<i aria-hidden="true" class="icon-home"></i>
					</span>
					<span>Склад</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<i aria-hidden="true" class="icon-services"></i>
					</span>
					<span>Поставка</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<i aria-hidden="true" class="icon-portfolio"></i>
					</span>
					<span>Отгрузка</span>
				</a>
			</li>
			<li>
				<a href="#/user/index">
					<span class="icon">
						<i aria-hidden="true" class="icon-team"></i>
					</span>
					<span>Работники</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<i aria-hidden="true" class="icon-contact"></i>
					</span>
					<span>Контакты</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
						<i aria-hidden="true" class="icon-blog"></i>
					</span>
					<span>Выход</span>
				</a>
			</li>
		</ul>
	</nav>
</header>