<header style="padding-bottom: 10px;">
    <nav id="menu" class="nav" ng-show="$root.globals.currentUser">
        <ul>
            <li>
                <a href="#/materialInStore/index">
                    <span class="icon">
                  <i aria-hidden="true" class="icon-home"></i>
                </span>
                    <span>Склад</span>
                </a>
            </li>
            <li>
                <a href="#/supply/index">
                    <span class="icon">
                        <i aria-hidden="true" class="icon-download3"></i>
                    </span>
                    <span>Поставка</span>
                </a>
            </li>
            <li>
                <a href="#/experse/index">
                    <span class="icon">
                        <i aria-hidden="true" class="icon-truck"></i>
                    </span>
                    <span>Отгрузка</span>
                </a>
            </li>
            <li ng-show="$root.globals.currentUser.role == 'admin'">
                <a href="#/user/index">
                    <span class="icon">
                        <i aria-hidden="true" class="icon-users"></i>
                    </span>
                    <span>Пользователи</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span class="icon">
                        <i aria-hidden="true" class="icon-phone"></i>
                    </span>
                    <span>Контакты</span>
                </a>
            </li>
            <li>
                <a href="#/login">
                    <span class="icon">
                        <i aria-hidden="true" class="icon-exit"></i>
                    </span>
                    <span>Выход</span>
                </a>
            </li>
        </ul>
    </nav>
</header>