<header style="padding-bottom: 10px;">
	<nav id="menu" class="nav">
		<ul>
			<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-home"></i>
          </span>
					<span>Склад</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-services"></i>
          </span>
					<span>Поставка</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-portfolio"></i>
          </span>
					<span>Отгрузка</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-team"></i>
          </span>
					<span>Работники</span>
				</a>
			</li>
			<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-contact"></i>
          </span>
					<span>Выход</span>
				</a>
			</li>
			<!--<li>
				<a href="#">
					<span class="icon">
            <i aria-hidden="true" class="icon-blog"></i>
          </span>
					<span></span>
				</a>
			</li>-->
		</ul>
	</nav>

	<!-- Navigation -->
	<!--<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="">Business Casual</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li>
						<a href="">Склад</a>
					</li>
					<li>
						<a href="">Поставки</a>
					</li>
					<li>
						<a href="">Расходы</a>
					</li>
					<li>
						<a href="">Работники</a>
					</li>
					<li>
						<a href="">Выход</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>-->
</header>