<div class="autorized" ng-show="$root.globals.currentUser">
    <div class="wdg-contact-me wdg-contact-me_pos-right">
        <div class="wdg-contact-me__body" style="height: 165px;">
            <form class="wdg-contact-me__form">
                <div class="wdg-contact-me__form-title">
                </div>
                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/kindMaterial/index" style="font-size: 16px;color: #1D153D">
                            <span>Виды материалов</span>
                        </a>
                    </div>
                </div>
                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/costumer/index" style="font-size: 16px;color: #1D153D">
                            <span>Потребители</span>
                        </a>
                    </div>
                </div>
                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/provider/index" style="font-size: 16px;color: #1D153D">
                            <span>Поставщики</span>
                        </a>
                    </div>
                </div>
            </form>
        </div>
        <div class="wdg-contact-me__label">
            <a class="wdg-contact-me__label-link" style="color: white;">СПРАВОЧНИКИ</a>
        </div>
    </div>
    
    <div class="wdg-contact-me wdg-contact-me_pos-right second">
        <div class="wdg-contact-me__body" style="height: 165px;">
            <form class="wdg-contact-me__form second_color">
                <div class="wdg-contact-me__form-title">
                </div>

                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/barChart" style="font-size: 16px;color: #1D153D">
                            <span>BarChart</span>
                        </a>
                    </div>
                </div>

                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/lineChart" style="font-size: 16px;color: #1D153D">
                            <span>LineChart</span>
                        </a>
                    </div>
                </div>
                
                <div class="wdg-contact-me__form-inner">
                    <div class="form-group col-lg-12">
                        <a href="#/doughtNutChart" style="font-size: 16px;color: #1D153D">
                            <span>DoughtNutChart</span>
                        </a>
                    </div>
                </div>

            </form>
        </div>
        <div class="wdg-contact-me__label">
            <a class="second_color wdg-contact-me__label-link " style="color: white;">СВОДКИ</a>
        </div>
    </div>

</div>
