<div class="autorized" ng-show="$root.globals.currentUser">
    <div style="padding: 8px;">
        <table style="width: 100%">
            <tr><td style="float: left;">
                    Должность:<span style="color: black;">{{$root.globals.currentUser.position}}</span>
                </td></tr>
            <tr><td style="float: left; font-size: 1em;">
                    ФИО:<span style="color: black;"> {{$root.globals.currentUser.fullname}}</span>
                </td></tr>
            <tr><td style="float: left;">
                    Права:<span style="color: black;"> {{$root.globals.currentUser.roleName}}</span>
                </td></tr>
        </table>
    </div>
</div>