<div class="row">
  <div class="box">
    <div class="col-lg-12">
      <hr>
      <h2 class="intro-text text-center">
        Контактная
        <strong>информация</strong>
      </h2>
      <hr>
    </div>
    <div class="col-md-8">
      <iframe width="100%" height="400" frameborder="0" style="border:1" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2349.075293406387!2d27.50433680770969!3d53.93040618551431!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc57260f69a89%3A0xf955dc998a29a747!2z0L_RgNC-0YHQvy4g0J_QvtCx0LXQtNC40YLQtdC70LXQuSA4M9CwLCDQnNC40L3RgdC6!5e0!3m2!1sru!2sby!4v1461617347875"></iframe>
	 </div>
    <div class="col-md-4">
      <p>
        Телефон:
        <strong>(033)581-45-19</strong>
      </p>
      <p>
        Email:
        <strong><a href="mailto:buildMaterial@gmail.com">buildMaterial@gmail.com</a></strong>
      </p>
      <p>
        Адрес:
        <strong>
          83А Победителей
          <br>Минск
        </strong>
      </p>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
