#area-chart,
#line-chart,
#bar-chart,
#stacked,
#pie-chart{
  min-height: 250px;
}

form#create-form {
    background: #F6F5F6;
    width: 45em;
    margin: 2em auto;
    overflow: hidden;
    position: relative;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border: 1px solid #F85F64;
    border-radius: 0.4em;
    -moz-box-shadow: 0 0 0.2em #000;
    -webkit-box-shadow: 0 0 0.2em #000;
    box-shadow: 0 0 2em #FFF;
}
form#create-form div.heading {
  background: #f85f64;
/*background: #ec423a;*/
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    /* font-weight: bold; */
    font-size: 16px;
    padding: 1.5em;
}
form#create-form div.left {
  width: 50%;
  float: left;
  padding: 1.2em 1.2em 1.2em 1.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form#create-form div.right {
  width: 50%;
  float: right;
  padding: 1.2em 1.2em 1.2em 1.2em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
form#create-form:before {
  content: '';
  color: gray;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 0.5em;
  width: 0.5em;
  left: -1.5em;
  top: 1.2em;
  z-index: 900;
}
form#create-form:after {
  /*content: '';*/
  position: absolute;
  background: rgba(128, 128, 128, 0.3);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  height: 7.25em;
  width: 0.1em;
  left: -0.85em;
  top: -6.8em;
  -moz-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  -webkit-box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
  box-shadow: 0 8.8em 0 0 rgba(128, 128, 128, 0.3);
}

div.left label {
    display: inline-block;
    color: gray;
    font-size: 1em;
    margin-top: 1.6em;
}

div.left span {
    display: inline-block;
    color: #152836;
    /* font-size: 1em; */
    font-size: 18px;
    font-weight: 800;
    /* margin-top: 1.6em; */
}

div.right label {
  display: inline-block;
  color: gray;
  font-size: 1.1em;
  margin-top: 0.6em;
}
div.left input[type="email"], div.left input[type="password"] {
  border: 0.1em solid #dfdfdf;
  padding: 1em;
  margin: 0.6em 0;
  -moz-border-radius: 0.2em;
  -webkit-border-radius: 0.2em;
  border-radius: 0.2em;
  -moz-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -webkit-box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  box-shadow: 0 0 0.2em rgba(223, 223, 223, 0.2);
  -moz-transition: all 0.15s ease-in-out;
  -o-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
div.left input[type="email"]:focus, div.left input[type="password"]:focus {
  outline: none;
  border: 0.1em solid #bdbdbd;
}
.submitCreateForm {
    width: 100%;
    background: #f85f64;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em;
    border: none;
    letter-spacing: 0.1em;
    margin: 0.5em 0;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
.submitCreateForm:hover {
  background: rgba(248, 95, 100, 0.8);
}

.submitCancelForm {
    width: 100%;
    background: #1b9cd3;
    color: #fff;
    text-transform: uppercase;
    padding: 0.7em;
    border: none;
    letter-spacing: 0.4em;
    margin: 0.5em 0;
    -moz-border-radius: 0.4em;
    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.submitCancelForm:hover {
  background: rgba(27, 156, 211, 0.8);
}

div.right div.connect {
  color: gray;
  font-size: 1.1em;
  text-align: center;
}
/*div.right a {
  display: inline-block;
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  width: 9em;
  padding: 0.55em 0.3em;
  clear: both;
  text-align: center;
  margin: 0.5em 0.1em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  border-radius: 0.3em;
}*/


.hrLogin {
        margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #b1aab0;
}

.autorized {
display: block;
    background: rgb(239, 238, 239);
    width: 200px;
    height: 63px;
    border-radius: 10px;
    position: absolute;
    right: 2%;
    top: 3%;
}

.autorized table tr td {
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0,0.5);
    font-size: 1em;
    font-weight: 500;
    line-height: normal;
    color: #d9534f;
}

.selected {
    background-color: #FD8B83;
}

.mouseEnter {
    background-color: greenyellow;
    cursor: pointer;
}
/*Overwrite trNgGrid pagination */
.tr-ng-grid .tr-ng-grid-footer .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 5px 0;
  border-radius: 4px;
}
.page-size {
    margin-top: 6px;
}
.pager-label {
    color: #999999 !important;
    white-space: nowrap;
}
/*Overwrite ng-table pager*/
.ng-table-pager .pagination {
    margin: 0;
}
.ng-table th.sortable.sort-desc, .ng-table th.sortable.sort-asc {
    background-color: #ebebeb;
}
.ng-table-pager .page-label-down {
    padding-top: 5px;
}

.ng-with-newlines {
  white-space: pre;
}
.form-ddl-adj {
    display: inline-block;
    width: auto;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.btn {
    border: #c5c5c5 1px solid;
    padding-top: 4px;
    padding-bottom: 4px;    
}
.btn:focus { 
    outline: none;    
    border: #8A8A8A 1px solid;
}
.btn.btn-primary {
    background: #3288e6;
    color: #fff;
}
.btn.btn-secondary {
    background: #e0e0e0;
    color: #777;
}  


/*.btn-primary:focus {
    box-shadow: 0px 0px 3pt 2pt red;
}*/


.field-text-box {
    /*display: inline-block;*/
    display: block;
    width: 250px;
    margin-bottom: 10px;
}
.down_right {    
    margin-top: 10px;
    margin-right: 10px;
    float: right;    
}
.pageBodyCell {
	width: 100%;
}
#codesGridBody {
    width: 900px;
	
}
.tbl_grid {
	width: 100%;
	vertical-align: middle;
}
.grid-alt-row {
	background-color: #BFC0C3;
	background-image: none;
}

.cursor-pointer-tr tr
{
	cursor: pointer;
}
.cursor-pointer
{
	cursor: pointer;
}
.message {
	color: Green;
	padding-left: 6px;
	padding-bottom: 6px;
	text-align: left;
}
.error-message {
	font-size: large;
    font-weight: 800;
    color: red;
    padding-left: 6px;
    /*padding-bottom: 6px;*/
    text-align: left;
}
.form-error-message {
    /*position:absolute;*/
    padding: 5px;
    background-color: #E03930;
    color:black;
}
fieldset {
    border: 2px solid #cacaca;
    margin-bottom: 10px;
    padding:0px 8px 8px 8px;
}
legend {
    /*margin-top: -10px;
    margin-bottom: 4px;
    border-bottom: 0;
    width: auto;*/
    /*font-weight:bold;*/
}
.form-control {
    height:28px;
    width:250px;
    padding: 0px 6px;    
}
.label-adjust {
    padding-top:4px;
    font-weight:normal;
    width:130px;
}
.left-dent {
    margin-left: 6px;
}
.bottom-line {
    margin-bottom: 6px;
}
.bottom-border {
    border-bottom: 1px solid #c5c5c5;
}

.price-search {
    width:120px;
    text-align:right;
}

.placeholder-color {
    color: #999999;
    /*color: #007AC4;*/
}
.control-color {
    color: #666;
}

.col-lbl-1 {
    width: 125px;
    float: left;
}
.col-inp-1 {
    width: 280px;
    position: relative;
    min-height: 1px;
    padding-left: 15px;    
    float: left;
}

.nav-active {    
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    color: #ffffff !important;
    font-weight: bold;
}
.email_form_txt
{
    width:250px;
    font-size:12px;
}
.email_form_panel
{
	border-width: 2px;
	border-style: solid;
	border-color: #C0C0C0;
	width: 100%;
	background-color: #F2F2F2;
	font-family: Arial;
	vertical-align: text-top;
	text-align: left;
	font-size: 0.9em;
}
#ng-view {
    position: relative;
    padding-top: 30px;
}


.navbar-default {
    /*background-color: #f8f8f8;*/
    background-color: #f5f5f5;
    border-color: #e7e7e7;
}

.app-modal-window .modal-dialog {
  width: 400px;
}

/* =============================================================================
   BEGIN INIT WIDGET
   ========================================================================== */	

.wdg-contact-me {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
  font-size: 14px;
  font-weight: normal;  
  position: fixed;
  top: 24%;
  z-index: 6000;
  -webkit-transition: left 300ms, right 300ms;
     -moz-transition: left 300ms, right 300ms;
       -o-transition: left 300ms, right 300ms;
          transition: left 300ms, right 300ms;
}

.second {
      top: 45%;
}

.second_color {
    background: #FD8B83;
}

/* label */

.wdg-contact-me__label {
  position: absolute;
  top: 0;
}
.ie8 .wdg-contact-me__label {
  writing-mode: bt-rl;
}


/* label link */

.wdg-contact-me__label-link {
  padding: 10px !important;
  border-top: none;
  white-space: nowrap !important;
  font-size: 14px !important;
  font-weight: bold !important;
  display: block !important;
  cursor: pointer !important;
  /*background: #027cc0;*/
    background: #D0636C;
  border-color: #0c7ab9;
  text-decoration: none !important;
}

.wdg-contact-me__label-link:hover {
  background: #E48B92;
  text-decoration: none !important;
}


.wdg-contact-me__label-link {
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
}


/* positions */

.wdg-contact-me_pos-left {
  left: -180px;
}
.wdg-contact-me_pos-left:hover {
  left: 0;
}
.wdg-contact-me_pos-left .wdg-contact-me__label {
  left: 100%;
}
.wdg-contact-me_pos-left .wdg-contact-me__label {
  -webkit-transform: translate(-100%, 0);
     -moz-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
       -o-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
}
.wdg-contact-me_pos-left .wdg-contact-me__label-link {
  -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
       -o-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(-90deg);
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
       -o-transform: rotate(-90deg);
          transform: rotate(-90deg);        
}


/* right */

.wdg-contact-me_pos-right {
  right: -180px;
}
.wdg-contact-me_pos-right:hover {
  right: 0;
}
.wdg-contact-me_pos-right .wdg-contact-me__label {
  right: 100%;
}
.wdg-contact-me_pos-right .wdg-contact-me__label-link {
  -webkit-transform-origin: 100% 0;
     -moz-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
       -o-transform-origin: 100% 0;
          transform-origin: 100% 0;
  -webkit-transform: rotate(-90deg) translateY(-100%);
     -moz-transform: rotate(-90deg) translateY(-100%);
      -ms-transform: rotate(-90deg) translateY(-100%);
       -o-transform: rotate(-90deg) translateY(-100%);
          transform: rotate(-90deg) translateY(-100%);
  -webkit-border-radius: 10px 10px 0 0;
     -moz-border-radius: 10px 10px 0 0;
          border-radius: 10px 10px 0 0;          
}


.wdg-contact-me__body {
  width: 180px;
  height: 470px;
}

/* =============================================================================
   END INIT WIDGET
   ========================================================================== */

/*** WIDGET FORM ***/

.wdg-contact-me__form {
  /*width: 450px;*/
  width: 100%;
  background: #D0636C;
  overflow: hidden;
}
.wdg-contact-me__form-title {
  font-size: 20px;
  padding: 15px;
  font-weight: normal;
  text-align: center;
  min-height: 20px;
}
.wdg-contact-me__form-inner {
    background: #fff;
    padding-top: 6%;
    padding-bottom: 20%;
}
.wdg-contact-me__form-inner:hover {
    background: #E48B92;
    font-weight: 600;
    
}

.wdg-contact-me__form button::-moz-focus-inner,
.wdg-contact-me__form input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.wdg-contact-me__form button,
.wdg-contact-me__form input[type="button"],
.wdg-contact-me__form input[type="reset"],
.wdg-contact-me__form input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
.wdg-contact-me__form input[type="radio"],
.wdg-contact-me__forminput[type="checkbox"] {
  padding: 0;
}

.wdg-contact-me__btn {
  font-family: inherit;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  position: relative;
  padding: 0 20px;
  white-space: nowrap;
  line-height: 31px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border: 1px solid #bfbfbf;
  background-color: #e8e8e8;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e8e8e8', GradientType = 0);
  color: #454545;
  text-shadow: 0 1px #fff;
  float: right;
  cursor: pointer;
  -webkit-box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}
.wdg-contact-me__btn:hover {
  border-color: #bfbfbf;
  background-color: #e8e8e8;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 73%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(73%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 73%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 73%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 73%);
  background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 73%);
  color: #2690d7;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e8e8e8', GradientType = 0);
}
.wdg-contact-me__btn:active {
  padding: 1px 21px;
  border: none;
  background-color: #d0d0d0;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QwZDBkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmRmZGYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #d0d0d0 0%, #dfdfdf 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d0d0), color-stop(100%, #dfdfdf));
  background-image: -webkit-linear-gradient(top, #d0d0d0 0%, #dfdfdf 100%);
  background-image: -o-linear-gradient(top, #d0d0d0 0%, #dfdfdf 100%);
  background-image: -ms-linear-gradient(top, #d0d0d0 0%, #dfdfdf 100%);
  background-image: linear-gradient(top, #d0d0d0 0%, #dfdfdf 100%);
  box-shadow: inset 0 0 2px #000;
  color: #333333;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#d0d0d0', endColorstr = '#dfdfdf', GradientType = 0);
}
.wdg-contact-me__btn[disabled] {
  cursor: default;
  opacity: .7;
}
.wdg-contact-me__btn[disabled]:hover {
  padding: 0 20px;
  border: 1px solid #bfbfbf;
  background-color: #e8e8e8;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background-image: -moz-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e8e8e8));
  background-image: -webkit-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: -ms-linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  background-image: linear-gradient(top, #ffffff 0%, #e8e8e8 100%);
  color: #454545;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e8e8e8', GradientType = 0);
  -webkit-box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 -1px rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.1);  
}

.wdg-contact-me__form-footer {
  padding-top: 10px;
  text-align: right;
  margin-bottom: 0;
}
.wdg-contact-me__close {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 17px;
  height: 17px;
  background: url('../images/close-white.png') no-repeat 0 0;
  cursor: pointer;
}

/* clearfix */

.wdg-contact-me-clearfix:before,
.wdg-contact-me-clearfix:after {
  display: table;
  content: "";
}
.wdg-contact-me-clearfix:after {
  clear: both;
}
.wdg-contact-me-clearfix {
  clear: both;
}

/* =============================================================================
   END CONTACT ME WIDGET
   ========================================================================== */