
        <div class="col-lg-12">
            <form id="create-form" name="createUser" novalidate>
                <div class="heading">Добавление пользователя</div>
                <div class="left">

                    <div class="form-group col-lg-12" style=" margin-top: -4.5%"  ng-class="{ 'has-error': createUser.Login.$touched && createUser.Login.$invalid }">
                        <label for="Login"><strong class="error-message">*</strong>Логин</label>
                        <input type="text" name="Login" ng-model="user.login" class="form-control" required maxlength="15">
                    </div>

                    <div class="form-group col-lg-12" style=" margin-top: -4.5%"  ng-class="{ 'has-error': createUser.Password.$touched && createUser.Password.$invalid }">
                        <label for="Password"><strong class="error-message">*</strong>Пароль</label>
                        <input type="text" name="Password" ng-model="user.password" class="form-control" required maxlength="15">
                    </div>

                    <div class="form-group col-lg-12" style=" margin-top: -4.5%">
                        <label for="RoleId">Роль</label>
                        <select ng-model="user.roleId"
                                ng-options="obj.id as obj.name for obj in roles"
                                class="form-control"
                                required
                                id="role">
                            <option value="">-- Выберите роль --</option>
                        </select>
                    </div>

                </div>

                <div class="right">

                    <div class="form-group col-lg-12" ng-class="{ 'has-error': createUser.Fio.$touched && createUser.Fio.$invalid }">
                        <label for="Fio"><strong class="error-message">*</strong>ФИО</label>
                        <input type="text" name="Fio" ng-model="user.fio" class="form-control" required maxlength="30">
                    </div>

                    <div class="form-group col-lg-12" ng-class="{ 'has-error': createUser.Position.$touched && createUser.Position.$invalid }">
                        <label for="Position"><strong class="error-message">*</strong>Должность</label>
                        <input type="text" name="Position" ng-model="user.position" class="form-control" required maxlength="25">
                    </div>

                    <div class="form-group col-lg-12">
                        <label for="Department">Отдел</label>
                        <input type="text" ng-model="user.department" class="form-control" ng-maxlength="25">
                    </div>

                    <div class="form-group col-lg-6">
                        <button type="submit" class="submitCreateForm" ng-click="save(user, createUser)">Сохранить</button>
                    </div>
                    <div class="form-group col-lg-6">
                        <button ng-click="cancelForm()" class="submitCancelForm" id="Cancel">Отмена</button>
                    </div>

                </div>
            </form>
        </div>

