<div class="row">
  <div class="box">
    <div class="col-lg-12">
        <form id="create-form" name="createExperse" novalidate>
            <div class="heading">Оформление отгрузки со склада</div>
            <div class="left">
                <div class="form-group col-lg-12" >
                    <label>Вид материала: </label>
                    <span ng-model="experse.kindMaterialName">{{experse.kindMaterialName}}</span>
                </div>
                <div class="form-group col-lg-12" >
                    <label>Ед. изм: </label>
                    <span ng-model="experse.unitShortName">{{experse.unitShortName}}</span>
                </div>
                <div class="form-group col-lg-12" >
                    <label>Остаток на складе: </label>
                    <span ng-model="experse.lostCount">{{experse.lostCount}}</span>
                </div>
                <div class="form-group col-lg-12">
                    <button type="submit"  class="submitCreateForm" ng-click="save(experse, createExperse)">Сохранить</button>
                </div>
            </div>
            <div class="right">
                <div class="form-group col-lg-12" ng-class="{ 'has-error': createExperse.count.$touched && createExperse.count.$invalid }">
                    <label><strong class="error-message">*</strong>Количество</label>
                    <input type="number" name="count" ng-model="experse.count" class="form-control" required>
                </div>
                <div class="form-group col-lg-12">
                    <label><strong class="error-message">*</strong>Потребитель</label>
                    <select ng-model="experse.costumerId"
                            ng-options="obj.id as obj.name for obj in costumers"
                            class="form-control"
                            required>
                        <option value="">-- Выберите потребителя --</option>
                    </select>
                </div>
	            <div class="form-group col-lg-12">
                 <button ng-click="cancel()" class="submitCancelForm" id="Cancel">
                   Отмена
                 </button>
	            </div>
            </div>
        </form>
    </div>
  </div>
</div>

