
		<div class="col-lg-12">

			<form id="create-form" name="createSupply" novalidate>
				<div class="heading">Оформление поставки на склад</div>
			    <div class="left">
			        
			        <div class="form-group col-lg-12" style=" margin-top: -4.5%">
			            <label for="kindMaterialId"><strong class="error-message">*</strong>Вид материала</label>
			            <select ng-model="kind"
			                    ng-options="obj.id as obj.name for obj in kindMaterials"
			                    class="form-control"
			                    ng-change="filter(obj.id)"
			                    required
			                    id="kindMaterial">
			                <option value="">-- Выберите вид материала --</option>
			            </select>
			        </div>

                    <div class="form-group col-lg-12" style=" margin-top: -4.5%"  ng-class="{ 'has-error': createSupply.count.$touched && createSupply.count.$invalid }">
                        <label for="count"><strong class="error-message">*</strong>Количество</label>
                        <input type="number" name="count" ng-model="supply.count" class="form-control" required>
                    </div>
                    
                    <div class="form-group col-lg-12" style=" margin-top: -4.5%"  ng-class="{ 'has-error': supply.ttn.$touched && supply.ttn.$invalid }">
                        <label for="ttn"><strong class="error-message">*</strong>№ ТТН</label>
                        <input type="number" name="ttn" ng-model="supply.ttn" class="form-control" required maxlength="12">
                    </div>

			    </div>

			    <div class="right">
			        
                    <div class="form-group col-lg-12" ng-class="{ 'has-error': createSupply.unitMaterialId.$touched && createSupply.unitMaterialId.$invalid }">
                        <label for="unitMaterialId"><strong class="error-message">*</strong>Ед. изм.</label>
                        <select ng-model="supply.unitMaterialId"
                                ng-options="obj.id as obj.unitShotrName for obj in unitMaterials | filter: {kindMaterialId: kind}"
                                class="form-control"
                                required
                                name="unitMaterialId"
                                id="unitMaterial">
                            <option value="">-- Выберите ед. изм. --</option>
                        </select>
                    </div>

			        <div class="form-group col-lg-12" ng-class="{ 'has-error': createSupply.priceSupply.$touched && createSupply.priceSupply.$invalid }">
			            <label for="priceSupply"><strong class="error-message">*</strong>Закупочная цена, $</label>
			            <input type="number" name="priceSupply" ng-model="supply.priceSupply" class="form-control" required>
			        </div>

                    <div class="form-group col-lg-12" ng-class="{ 'has-error': createSupply.providerId.$touched && createSupply.providerId.$invalid }">
                        <label for="providerId"><strong class="error-message">*</strong>Поставщик</label>
                        <select ng-model="supply.providerId"
                                ng-options="obj.id as obj.name for obj in providers"
                                class="form-control"
                                name="providerId"
                                required
                                id="role">
                            <option value="">-- Выберите поставщика --</option>
                        </select>
                    </div>

                    <div class="form-group col-lg-6">
                        <button type="submit" class="submitCreateForm" ng-click="save(supply, createSupply)">Сохранить</button>
                    </div>
                    <div class="form-group col-lg-6">
                        <button ng-click="cancel()" class="submitCancelForm" id="Cancel">Отмена</button>
                    </div>

			    </div>
			</form>
		</div>


