<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                Список поставок
            </h2>
            <hr>
            
            <table ng-table="tableParams" show-filter="true" class="table table-bordered table-hover table-striped table-condensed editable-table demoTable" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">
                <colgroup>
                    <col width="*0.5" />
                    <col width="*3.5" />
                    <col width="*2" />
                    <col width="*2" />
                    <col width="*1" />
                    <col width="85" />
                </colgroup>
                <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row">
                    <td data-title="'Вид материала'" sortable="'kindMaterialName'" filter="{'kindMaterialName': 'text' }" ng-switch="row.isEditing" ng-form="kindMaterialName" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.kindMaterialName}}</span>
                    </td>
                    <td data-title="'Ед.изм'" sortable="'unitName'" filter="{'unitName': 'text' }" ng-switch="row.isEditing" ng-form="unitName" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.unitName}}</span>
                    </td>
                    <td data-title="'Кол-во'" sortable="'count'" filter="{'count': 'text' }" ng-switch="row.isEditing" ng-form="count" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.count}}</span>
                    </td>
                    <td data-title="'Закуп.цена'" sortable="'priceSupply'" filter="{'priceSupply': 'text' }" ng-switch="row.isEditing" ng-form="priceSupply" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.priceSupply | currency}}</span>
                    </td>
                    <td data-title="'№ ТТН'" sortable="'ttn'" filter="{'ttn': 'text' }" ng-switch="row.isEditing" ng-form="ttn" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.ttn}}</span>
                    </td>
                    <td data-title="'Дата'" sortable="'data'" ng-switch="row.isEditing" ng-form="data" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.data | date}}</span>
                    </td>
                    <td data-title="'Поставщик'" sortable="'providerName'" filter="{'providerName': 'text' }" ng-switch="row.isEditing" ng-form="providerName" demo-tracked-table-cell>
                        <span ng-switch-default class="editable-text">{{row.providerName}}</span>
                    </td>
                    <td>
                        <button class="btn btn-danger btn-sm" ng-click="deleteSupply(row.id)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
            </table>


            <div>
                <a href="#/provider/index" class="btn btn-primary">
                    <span>Справочник поставщиков</span>
                </a>
            </div>
            <div>
                <a href="#/supply/create" class="btn btn-primary">
                    <span>Оформить поставку</span>
                </a>
            </div>
        </div>
    </div>
</div>
