@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<store-header></store-header>
<div class="wrapper-body" ng-init="$root.isModalOpen = false" aria-hidden="{{$root.isModalOpen}}">
	<ui-view></ui-view>
</div>
<store-footer></store-footer>