<div class="row">
    <div class="box">
        <div class="col-lg-12">
            
          <fieldset ng-show="isWriteRole" style="border: solid 1px #337AB7;border-radius: 8px;padding: 10px;margin-bottom: 30px;">
            <legend>Добавление данных о виде материала</legend>
            <form name="kindMaterialForm" novalidate>
              <div class='row'>
                <div class="form-group col-lg-12">
                  <label class="col-md-1 control-label" for="articul"><strong class="error-message">*</strong>Артикул</label>
                    <div class="col-md-3" ng-class="{ 'has-error': kindMaterialForm.articul.$touched && kindMaterialForm.articul.$invalid }">
                        <input type="number" name="articul" ng-model="kindMaterial.articul" class="form-control input-md" required maxlength="12">
                    </div>

                  <label class="col-md-1 control-label" for="name"><strong class="error-message">*</strong>Название</label>
                    <div class="col-md-3" ng-class="{ 'has-error': kindMaterialForm.name.$touched && kindMaterialForm.name.$invalid }">
                        <input type="text" name="name" ng-model="kindMaterial.name" class="form-control input-md" required maxlength="30">
                    </div>

                  <label class="col-md-1 control-label" for="unit"><strong class="error-message">*</strong>Ед.изм</label>
                    <div class="col-md-3" ng-class="{ 'has-error': kindMaterialForm.unitIds.$touched && kindMaterialForm.unitIds.$invalid }">
                        <multiselect class="input-xlarge multiselect"
                                     ng-model="kindMaterial.unitIds"
                                     options="p.id as p.name for p in units"
                                     select-limit="50"
                                     header="Выберите ед.изм."
                                     selected-header="единиц изм."
                                     enable-filter="false"
                                     name="unitIds"
                                     multiple="true">
                        </multiselect>
                    </div>
                </div>
                <div class="form-group col-lg-12">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary" ng-click="saveKindMaterial(kindMaterial, kindMaterialForm)" style="width: 100%;    letter-spacing: 0.4em;">Добавить</button>
                  </div>
                </div>
              </div>
            </form>
          </fieldset>
   

            <h2 class="intro-text text-center">
                Список видов материалов
            </h2>
            <hr>

            <table ng-table="tableParams" show-filter="true" class="demoTable table table-bordered table-hover table-striped table-condensed editable-table" ng-form="tableForm" disable-filter="isAdding" demo-tracked-table="tableTracker">
                <colgroup span="4">
                    <col />
                    <col />
                    <col width="150" />
                    <col/>
                </colgroup>
              <tr ng-repeat="row in $data" ng-form="rowForm" demo-tracked-table-row="row" class="text-left">
                <td data-title="'Артикул'" sortable="'articul'" filter="{'articul': 'text' }" ng-switch="row.isEditing" ng-class="articul.$dirty ? 'bg-warning' : ''" ng-form="articul" demo-tracked-table-cell>
                  <span ng-switch-default class="editable-text">{{row.articul}}</span>
                  <div class="controls" ng-class="articul.$invalid && articul.$dirty ? 'has-error' : ''" ng-switch-when="true">
                    <input type="text" name="articul" ng-model="row.articul" class="editable-input form-control input-sm" required />
                  </div>
                </td>
                <td data-title="'Название'" sortable="'name'" filter="{'name': 'text' }" ng-switch="row.isEditing" ng-class="name.$dirty ? 'bg-warning' : ''" ng-form="name" demo-tracked-table-cell>
                  <span ng-switch-default class="editable-text">{{row.name}}</span>
                  <div class="controls" ng-class="name.$invalid && name.$dirty ? 'has-error' : ''" ng-switch-when="true">
                    <input type="text" name="name" ng-model="row.name" class="editable-input form-control input-sm" required />
                  </div>
                </td>
                <td data-title="'Ед.изм.'" sortable="'units'" filter="{'units': 'text' }" ng-switch="row.isEditing" ng-class="units.$dirty ? 'bg-warning' : ''" ng-form="units" demo-tracked-table-cell>
                  <span ng-switch-default class="editable-text">{{row.units}}</span>
                  <div class="controls" ng-class="unitIds.$invalid && unitIds.$dirty ? 'has-error' : ''" ng-switch-when="true">
                    <multiselect class="input-xlarge multiselect" ng-controller="KindMaterialController"
                                 ng-model="row.unitIds"
                                 options="p.id as p.name for p in units"
                                 select-limit="50"
                                 header="Выберите ед.изм."
                                 selected-header="единиц изм."
                                 enable-filter="false"
                                 multiple="true">
                    </multiselect>
                  </div>
                </td>
                <td ng-show="isWriteRole">
                  <button class="btn btn-primary btn-sm" ng-click="updateKindMaterial(row, rowForm)" ng-if="row.isEditing" ng-disabled="rowForm.$pristine || rowForm.$invalid"><span class="glyphicon glyphicon-ok"></span></button>
                  <button class="btn btn-default btn-sm" ng-click="cancelKindMaterial(row, rowForm)" ng-if="row.isEditing"><span class="glyphicon glyphicon-remove"></span></button>
                  <button class="btn btn-default btn-sm" ng-click="row.isEditing = true" ng-if="!row.isEditing"><span class="glyphicon glyphicon-pencil"></span></button>
                  <button class="btn btn-danger btn-sm" ng-click="deleteKindMaterial(row.id)" ng-if="!row.isEditing"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
              </tr>
            </table>

        </div>
    </div>
</div>


